* {
    outline: auto;
    box-sizing: border-box;
    margin: 0; padding: 0;
    text-transform: capitalize;
    text-decoration: none;
}

section {
    min-height: 100vh;
    padding-top: 5rem;
}

/* Navigation bar */

header {
    display: flex;
    position: sticky;
    top: 0;
    background-color: #181f30;
    box-shadow: 1px 1px 20px cyan;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

.navbar nav > a{
    padding: 0.5rem;
    color: white;
    font-size: 1.5rem;
    font-weight: bolder;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar nav > a:hover{
    color: cyan;
}

.logo>img {
    border-radius: 50%;
    width: 4.5rem;
}

.logo>img:hover {
    box-shadow: 1px 1px 30px cyan;
}

/* About me Section */

#about-hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    background-color: cyan;
    padding-top: 0;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    background-color: green;
    line-height: 1.5rem;
    gap: 1.5rem;
    padding: 2rem;
    width: 650px;
    height: 25rem;
}

#about-hero img {
    border-radius: 50%;
    width: 30rem;
}

#about-content {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.slider-nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 2rem;
    text-align: center;
    gap: 0.5rem;
}

.slider-nav a {
    font-size: 1.5rem;
    color: white; 
    background-color: #181f30;
    border: 0.2rem outset cyan;
}

.slider {
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth; 
    scroll-snap-type: x mandatory;
    min-height: 38.5rem;
}

.card {
    flex: 1 0 100%;
    text-align: center;
    align-content: center;
}

#about-background {
    background-color: red;
}

#about-skills {
    background-color: blue;
}

#contact {
    background-color: green;
}

/* Projects Section */

#projects {
    display: flex;
    background-color: blue;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    
}

.projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.5rem;
    width: 100%;
    padding: 2rem;
}

.project-info {
    display: flex;
    background-color: green;
    width: 100%;
    height: 15rem;
    justify-content: center;
    align-items: center;
}