:root {
    --primary-color: #222831;
    --secondary-color: #393E46;
    --accent-color: #32E0C4;
    --text-color: #EEEEEE;
}

* {
    /* outline: auto; */
    box-sizing: border-box;
    margin: 0; padding: 0;
    text-transform: capitalize;
    text-decoration: none;
    color: var(--text-color)
}

body {
    background-color: var(--primary-color);
}

section {
    min-height: 100vh;
    padding-top: 5rem;
}

/* Navigation bar */

header {
    display: flex;
    position: sticky;
    top: 0;
    background-color: var(--primary-color);
    box-shadow: 1px 1px 20px var(--accent-color);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}

.navbar nav > a{
    padding: 0.5rem;
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: bolder;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
}

.navbar nav > a:hover{
    color: var(--accent-color);
}

.logo>img {
    border-radius: 50%;
    width: 4.5rem;
}

.logo>img:hover {
    box-shadow: 1px 1px 30px var(--accent-color);
}

/* About me Section */

#about-hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    background-color: var(--secondary-color);
    padding-top: 0;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    background-color: var(--secondary-color);
    line-height: 2rem;
    gap: 1.5rem;
    padding: 2rem;
    width: 40rem;
    height: 15rem;
    font-size: 1.5rem;
}

#about-hero img {
    border-radius: 50%;
    width: 30rem;
    border: 5px inset;
}

#about-content {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    background-color: var(--primary-color);
}

.slider-nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 2rem;
    text-align: center;
    align-items: center;
    gap: 0.5rem;
}

.slider-nav a {
    font-size: 1.5rem;
    background-color: var(--primary-color);
    border: 3px inset var(--accent-color);
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    border-radius: 25px;
}

.slider-nav a:hover {
    background-color: var(--secondary-color);
    color: var(--accent-color)
}

.slider {
    margin-top: 6px;
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth; 
    scroll-snap-type: x mandatory;
    min-height: 38rem;
    border-radius: 25px;
}

.card {
    flex: 1 0 100%;
    text-align: center;
    align-content: center;
    padding: 3rem;
}

.slider .card {
    background-color: var(--secondary-color);
}

/* Projects Section */

#projects {
    display: flex;
    background-color: var(--primary-color);
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.5rem;
    width: 100%;
    padding: 2rem;
}

.project-info {
    display: flex;
    background-color: var(--text-color);
    color: var(--primary-color);
    width: 100%;
    height: 15rem;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--accent-color);  
}