:root {
    --primary-color: #222831;
    --secondary-color: #393E46;
    --accent-color: #32E0C4;
    --text-color: #EEEEEE;
}

* {
    /* outline: auto; */
    box-sizing: border-box;
    margin: 0; padding: 0;
    text-transform: capitalize;
    text-decoration: none;
    color: var(--text-color);
    transition-duration: .3s;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary-color);
}

section {
    min-height: 100svh;
    padding-top: 5rem;
}

/* Navigation bar */

header {
    display: flex;
    position: sticky;
    top: 0;
    background-color: var(--primary-color);
    box-shadow: 1px 1px 20px var(--accent-color);
    z-index: 2;
}

.logo {
    margin-left: 2rem;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    width: 100%;
    margin-right: 2rem;
}

.navbar nav > a {
    padding: 0.5rem;
    color: var(--text-color);
    font-size: 1.3rem;
    font-weight: bolder;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
}

.navbar nav > a:hover {
    color: var(--accent-color);
}

.logo>img {
    border-radius: 50%;
    width: 4.5rem;
}

.logo>img:hover {
    box-shadow: 1px 1px 30px var(--accent-color);
}

/* Hero section */

#about-hero {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    background-color: var(--secondary-color);
    padding-top: 2rem;
}

.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    background-color: var(--secondary-color);
    line-height: 2rem;
    gap: 1.5rem;
    padding: 2rem;
    width: 40rem;
    height: 15rem;
    font-size: 1.5rem;
}

#about-hero img {
    border-radius: 50%;
    max-width: 25rem;
    border: 5px inset;
    margin: 0.8rem 0;
}

.media-links {
    display: flex;
    gap: 1rem;
}

.fa-brands, .fa-solid {
    color: var(--accent-color);
    font-size: 1.8rem;
}

.fa-brands:hover, .fa-solid:hover {
    transform: translateY(-5px);
    color: var(--text-color);
}

.fa-brands:active, .fa-solid:active {
    color: var(--accent-color);
}

/* About me slider */

#about-content {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    background-color: var(--primary-color);
}

.about-wrapper {
    position: relative;
    max-width: 80rem;
    margin: 0 auto;
    padding-top: 2rem;
}

.about-nav {
    display: flex;
    justify-content: center;
    z-index: 1;

    background-color: var(--secondary-color);
    border-bottom: 1px solid var(--primary-color);
    border-radius: 5px 5px 0 0;
}

.about-nav a {
    max-height: 2.5rem;
    text-align: center;
    align-content: center;
    
    font-size: 1rem;
    font-weight: bolder;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;

    flex: 1 1 100%;
    padding: 0.5rem;
    border: 1px outset var(--primary-color);
}

.about-nav a:hover{
    background-color: var(--accent-color);
    color: var(--primary-color);
}

.about-nav a:active{
    transform: translateY(1px);
}
.slide-wrapper {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
    min-height: 35rem;
    border-radius: 0 0 5px 5px;
}

.slide {
    flex: 1 0 100%;
    scroll-snap-align: start;

    display: flex;
    flex-wrap: wrap;

    padding: 2rem;
    background-color: var(--secondary-color);
    text-align: center;
    align-content: center;
}

/* call to action */

#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

#contact h2 {
    text-transform: uppercase;
    color: var(--accent-color);
}

#contact form {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;

    height: 30rem;
    width: 60svw;
    max-width: 60%;
    padding: 0.6rem;
    gap: 0.4rem;
}

#contact input, #contact textarea {
    background-color: var(--primary-color);
    padding: 0.6rem;
    font-size: 0.8rem;
    border: none;
    resize: none;
    border-radius: 10px;
    text-transform: none;
}

.visitor-details {
    display: flex;
    justify-content: center;
    gap: 0.2rem;
}

.visitor-details input {
    max-width: 22.1rem;
    flex: 1 1 100%;
}

::placeholder {
    color: var(--accent-color);
    opacity: 0.5;
}

.contact-action-wrapper {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.contact-icons {
    justify-content: space-between;
    gap: 1rem;
}

.contact-icons .fa-brands, .fa-solid {
    font-size: 1.2rem;
    opacity: 0.5;
}

/* double selector to increase priority */
#contact-button#contact-button {
    max-width: 10rem;
    min-height: 1.7rem;
    flex: 1 1 100%;

    padding: 0;
    font-weight: bold;
    text-transform: uppercase;
    align-self: center;
}

#contact-button:hover {
    background-color: var(--accent-color);
    color: var(--primary-color);
}

#contact-button:active {
    transform: translateY(2px);
}

/* modify placeholder color for Edge 12-18 */
::-ms-input-placeholder {
    color: var(--text-color);
    color: var(--accent-color);
    opacity: 0.7;
}

/* Projects Section */

#projects {
    display: flex;
    background-color: var(--primary-color);
    align-items: center;
    flex-direction: column;
}

.projects-wrapper {
    background-color: transparent;
    max-width: 90%;
    text-align: center;
    line-height: 5rem;
}

.projects-container {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    gap: 2rem;
    padding: 2rem;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scrollbar-width: auto;
}

.project-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--text-color);
    border: 1px solid var(--accent-color);

    width: 20rem;
    height: 15rem;

    flex-shrink: 0;
    scroll-snap-align: center;
}

.proj-content {
    line-height: 0;
}

.proj-content img {
    width: 100%;
}

.project-info:hover {
    transform: scale(1.1);
}

.proj-content h3 {
    color: var(--primary-color);
    font-weight: bold;
    text-shadow: 1px 1px 30px var(--text-color), -1px -1px 30px var(--text-color), -1px 1px 30px var(--text-color), 1px -1px 30px var(--text-color);

    text-align: center;
    line-height: 2rem;
}

/* scroll bar customization */

html ::-webkit-scrollbar {
    width: 0.7rem;
    height: 0.7rem;
}
  
  /* Track */
html ::-webkit-scrollbar-track {
    background: var(--secondary-color); 
}
   
  /* Handle */
html ::-webkit-scrollbar-thumb {
    background: var(--accent-color); 
}

@media (max-width: 720px) {

    #about-hero {
        gap: 2rem;
    }

    #about-hero > img {
        max-width: 21rem;    
        margin-top: 5rem;
    }

    .navbar nav>a {
        font-size: 1.1rem;
    }

    .hero-text h1, p {
        font-size: 100%;
    }

    .hero-text {
        height: 0%;
    }

    #contact {
        padding: 0;
        max-width: 100%;
    }

    .visitor-details {
        flex-wrap: wrap;
    }

    .visitor-details #name, #email, #message {
        max-width: 100%;
    }

}

@media (max-width: 369px) {
    .navbar nav>a {
        font-size: 1rem;
    }

    #about-hero {
        gap: 1rem;
    }

    #about-hero > img {
        max-width: 19rem;    
        margin-top: 0;
        padding: 0;
    }
}

@media (min-height: 1024px) {
    section {
        min-height: 0;
    }
}